.sidenavbar{
    position:sticky;
    top:6.5vw;
    z-index:1000;
    margin-top:0vw;
    margin-left:0pvw;
    width:19.766vw;
    height: 88.061vw;
    background-color: #FFFFFF;
}
.sidetop {
    align-items: left;
    justify-content: left;
    margin-top:3.239vw;
    margin-left: 2.343vw;
    height: 13.8vw;
    width: 13.177vw;
    font: normal normal normal 1.245vw/1.830vw Poppins; 
}

.sidetop li{
    display: flex;
    align-items: left;
    justify-content: left;
    font: normal normal bold 1.245vw/1.830vw Poppins;
    color: #4D4D4D;
    text-decoration: none;
    margin-top:0.295vw;
    color:#4D4D4D;
}
.sidetop li ul{
    display: flex;
    align-items: left;
    justify-content: left;
    font: normal normal bold 1.245vw/1.830vw Poppins;
    color: #4D4D4D;
    text-decoration: none;
    color:#4D4D4D;
}
.sidetop li span{
    display: flex;
    align-items: left;
    justify-content: left;
    font: normal normal bold 1.245vw/1.830vw Poppins;
    color: #4D4D4D;
    text-decoration: none;
    cursor: pointer;
}
.sidetop>li>ul>li{
    float: left;
}
.sidetop>li>ul>li>a{
    display: block;
    font: normal normal bold 1.245vw/1.830vw Poppins;
}
.sidetop > li > ul > li a{
    display: block;
    text-decoration: none;
    font: normal normal bold 1.245vw/1.830vw Poppins;
    color: #4D4D4D;
}
.sidemid {
    align-items: left;
    justify-content: left;
    margin-top: 0vw;
    margin-left: 2.343vw;
    height: 28.007vw;
    width: 15.958vw;
    font: normal normal normal 1.245vw/0vw Poppins;
    color: #4D4D4D;
}
.sidemid span{
    font: normal normal normal 1.045vw/1.630vw Poppins;
}
.sidebottom {
    align-items: left;
    justify-content: left;
    margin-top:4.5vw;
    margin-left: 2.343vw;
    height: 18.375vw;
    width: 17.423vw;
}
.sidebottom span{
    font: normal normal normal 1.0vw/1.4vw Poppins; 
    color:#ADADAD;
}
@media (max-width:700px){
    .sidenavbar{
        display:none;
    }
}
