#focus{
    margin-left:21.889vw;
    margin-top:10.647vw;
    width:16.984vw;
    height:3.587vw;
    color:#4D4D4D;
    font: normal normal normal 2.562vw/3.880vw Poppins;
    
}
.cardsl1{
    display:flex;
    margin-left:21.889vw;
    margin-top:2.647vw;
}
.card1{
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card1 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}
.card1 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card1:hover #text1{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.card2{
    display:flex;
    margin-left: 4.392vw;
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card2 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}
.card2 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card2:hover #text2{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.card3{
    display:flex;
    margin-left: 4.392vw;
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card3 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}

.card3 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card3:hover #text3{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.cardsl2{
    display:flex;
    margin-left:21.889vw;
    margin-top:4.466vw;
}
.card4{
    display:flex;
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card4 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}

.card4 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card4:hover #text4{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.card5{
    display:flex;
    margin-left: 4.392vw;
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card5 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}

.card5 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card5:hover #text5{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.card6{
    display:flex;
    margin-left: 4.392vw;
    width:18.375vw;
    height:24.524vw;
    position: relative;
}
.card6 img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
}

.card6 span{
    padding: 0.3vw;
    text-align: center;
    margin-top:21.742vw;
    margin-left:4.466vw;
    position:absolute;
    width:9.810vw;
    height:1.903vw;
    font: normal normal normal 0.805vw/1.245vw Poppins;
    color:white;
    background-color:#4D4D4D;
}
.card6:hover #text6{
    padding: 0.5vw;
    text-align: center;
    margin-top:16.742vw;
    margin-left:0.04vw;
    width:18.26vw;
    height:2.903vw;
    font: normal normal bold 1.06vw/1.545vw Poppins;
    color:#4D4D4D;
    background-color:white;
    transition-duration: 0.5s;
}
.work{
    margin-left:21.669vw;
    margin-top:7.394vw;
    width:12.548vw;
    height:3.587vw;
    color:#4D4D4D;
    font: normal normal normal 2.562vw/3.880vw Poppins;
    
}
.grid{
    display:grid;
    margin-top:1.464vw;
    margin-left:3.075vw;
    height:37.116vw;
    width:93.485vw;
}
.gcard1{
    width:17.936vw;
    height:17.789vw;
    background-color: #8D8D8D;
}
.gcard2{
    margin-top:1.537vw;
    width:17.936vw;
    height:17.789vw;
    background-color: #8D8D8D;
}
.gcard3{
    margin-top:-37.116vw;
    margin-left:18.960vw;
    width:17.936vw;
    height:37.116vw;
    background-color: #8D8D8D;
}
.gcard4{
    margin-top:-37.116vw;
    margin-left:37.994vw;
    width:37.116vw;
    height:17.936vw;
    background-color: #8D8D8D;
}
.gcard5{
    margin-top:-17.789vw;
    margin-left:37.994vw;
    width:17.862vw;
    height:17.789vw;
    background-color: #8D8D8D;
}
.gcard6{
    margin-top:-17.789vw;
    margin-left:56.955vw;
    width:17.862vw;
    height:17.789vw;
    background-color: #8D8D8D;
}
.gcard7{
    margin-top:-37.116vw;
    margin-left:76.354vw;
    width:17.862vw;
    height:37.116vw;
    background-color: #8D8D8D;
}
.cards{
    display:flex;
    margin-top:7.321vw;
    margin-left:3.807vw;
    height:21.230vw;
    width:92.387vw;
}
.rcard1{
    display:flex;
    margin-left:0vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard1 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 7.247vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard2{
    display:flex;
    margin-left:2.562vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard2 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 6.442vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard3{
    margin-left:2.562vw;
    display:flex;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard3 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 3.014vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard4{
    display:flex;
    margin-left:2.562vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard4 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 6.515vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
/* .popupBody { 
    display:flex;
    position: sticky;
    height:2900px;
    width:900px;
    font: normal normal bold 2.143vw/3.286vw Poppins;
}
#soon{ 
    color:#222222;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #CDCDCD;
    position:sticky;
    top:300px;
    height:80px;
    width:500px;
    margin-left:300px;
    margin-top:290px;
}
#soon:hover{
    color:#CDCDCD;
    background-color: #222222;
} */

@media (max-width:700px){
    #focus{
        margin-left:8vw;
        margin-top:2.5vw;
        font: normal normal normal 2.562vw/3.880vw Poppins;
        
    }
    .cardsl1{
        margin-left:8vw;
    }
    
    .card1{
        width:25vw; 
        height:33vw;
    }
    .card1 span{
        margin-top:28vw;
        margin-left:3.466vw;
        width:17.810vw;
        height:2.903vw;
        font: normal normal normal 1.429vw/2.286vw Poppins;
    }
    .card1:hover #text1{
        margin-top:24.742vw;
        margin-left:0.4vw;
        width:24.25vw;
        height:4vw;
        font: normal normal bold 1.8577vw/2.9718vw Poppins;
        
    }
    .card2{
        width:25vw; 
        height:33vw;
    }
    .card2 span{
        margin-top:28vw;
        margin-left:3.466vw;
        width:17.810vw;
        height:2.903vw;
        font: normal normal normal 1.429vw/2.286vw Poppins;
    }
    .card2:hover #text2{
        margin-top:24.742vw;
        margin-left:0.4vw;
        width:24.25vw;
        height:4vw;
        font: normal normal bold 1.8577vw/2.9718vw Poppins;

    }
    .card3{
        width:25vw; 
        height:33vw;
    }
    .card3 span{
        margin-top:28vw;
        margin-left:3.466vw;
        width:17.810vw;
        height:2.903vw;
        font: normal normal normal 1.429vw/2.286vw Poppins;
    }
    .card3:hover #text2{
        margin-top:24.742vw;
        margin-left:0.4vw;
        width:24.25vw;
        height:4vw;
        font: normal normal bold 1.8577vw/2.9718vw Poppins;

    }
    .cards{
    display:flex;
    margin-top:7.321vw;
    margin-left:3.807vw;
    height:21.230vw;
    width:92.387vw;
}
.rcard1{
    display:flex;
    margin-left:0vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard1 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 7.247vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard2{
    display:flex;
    margin-left:2.562vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard2 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 6.442vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard3{
    margin-left:2.562vw;
    display:flex;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard3 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 3.014vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
.rcard4{
    display:flex;
    margin-left:2.562vw;
    height:21.230vw;
    width:21.157vw;
    border: 0.146vw solid #CDCDCD;

}
.rcard4 span{
    color:#4D4D4D;
    margin-top: 8.858vw;
    margin-left: 6.515vw;
    font:normal normal normal 2.489vw/3.734vw Poppins;
}
    
}