.profileBox {
    display: grid;
    border: 0.073vw solid #707070;
    width: 67.350vw;
    height:45.168vw;
    margin-left: 22.474vw;

}

.boxNav {
    /* border: 1px solid #707070; */
    margin-top: 2.489vw;
    margin-left: 5.051vw;
    width: 43.192vw;
    height: 2.050vw;
    display: flex;
}

.myProfile {
    width: 7.906vw;
    height: 2.050vw;
    font: normal normal normal 1.464vw/2.196vw Poppins;
    color: #4D4D4D;
    margin-top: 0vw;
}

.myOrders {

    width: 8.126vw;
    height: 2.050vw;
    font: normal normal normal 1.464vw/2.196vw Poppins;
    color: #4D4D4D;
    margin-left: 9.004vw;
    margin-top: 0vw;
}

.myAddress {
    font: normal normal normal 1.464vw/2.196vw Poppins;
    color: #4D4D4D;
    margin-left: 9.078vw;
    width: 9.004vw;
    height: 2.050vw;
    margin-top: 0vw;
}

#lineeee {
    margin-top: 1.025vw;
    width: 56.735vw;
    margin-left: 5.051vw;
    color: #CDCDCD;
}

#lineeee2 {
    height: 0.073vw;
    width: 7.906vw;
    margin-left: 22.108vw;
    margin-top: -1.947vw;
    color: #4D4D4D;
}

.orderBox {
    display: grid;
    grid-template-rows: 3.367vw 3.367vw 3.367vw 3.367vw 3.367vw 3.367vw 1.318vw;
    width: 56.735vw;
    height: 33.748vw;
    border: 0.073vw solid #CDCDCD;
    margin-top: 0.293vw;
    margin-left: 5.051vw;


}

.orderID {
    display: flex;
    /* border: 1px solid #707070; */
    margin-top: 2.050vw;
    margin-left: 2.050vw;
    width: 51.245vw;
    height: 2.050vw;
}

.orderID h6 {
    width: 2.196vw;
    height: 2.050vw;
    margin-top: 0vw;
    font: normal normal bold 1.464vw/2.196vw Poppins;
    color: #2D2D2D;
}

.orderidd {
    width: 5.857vw;
    height: 1.537vw;
    margin-top: 0vw;
    margin-left: 1.757vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

.orderNo {
    height: 2.050vw;
    margin-top: 0vw;
    margin-left: 9.370vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
    /* border:1px solid lightseagreen; */
}

.closeDetail {
    margin-top: 0vw;
    margin-left: 19.034vw;
    width: 10.322vw;
    height: 2.050vw;
    text-decoration: underline;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    text-align: center;
    color: #8D8D8D;
}

.datee {
    display: flex;
    width: 36.603vw;
    height: 1.537vw;
    margin-top: 1.830vw;
    margin-left: 3.807vw;
    /* border: 1px solid lightseagreen; */
}

.dateeW {
    margin-top: 0vw;
    margin-left: 1.977vw;
    width: 3.148vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

.month {
    margin-left: 11.274vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
}

.Amount {
    display: flex;
    width: 36.603vw;
    height: 1.537vw;
    margin-top: 1.830vw;
    margin-left: 3.807vw;
    /* border: 1px solid lightseagreen; */
}

.totalAmount {
    margin-top: 0vw;
    margin-left: 1.977vw;
    width: 7.906vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

.amountRs {
    margin-left: 6.369vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
}

.Payment {
    display: flex;
    width: 36.603vw;
    height: 1.537vw;
    margin-top: 1.830vw;
    margin-left: 3.807vw;
    /* border: 1px solid lightseagreen; */
}

.paymentMode {
    margin-top: 0vw;
    margin-left: 1.977vw;
    width: 10.981vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

.COD {
    margin-left: 3.294vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
}

.statusBox {
    display: flex;
    width: 36.603vw;
    height: 1.537vw;
    margin-top: 1.830vw;
    margin-left: 3.807vw;
    /* border: 1px solid lightseagreen; */
}

.Status {
    margin-top: 0vw;
    margin-left: 1.977vw;
    width: 3.953vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

.outDelivery {
    margin-left: 10.102vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #AEBB00;
}

.itemBox {
    display: flex;
    width: 10.102vw;
    height: 1.537vw;
    margin-top: 1.830vw;
    margin-left: 3.807vw;
    /* border: 1px solid lightseagreen; */
}

.items {
    margin-top: 0vw;
    margin-left: 1.977vw;
    width: 3.294vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #8D8D8D;
}

#orderLine {
    margin-top: 1.318vw;
    width: 52.635vw;
    margin-left: 3.807vw;
    color: #CDCDCD;
}

.orderProduct {
    margin-top: 1.684vw;
    margin-left: 5.783vw;
    width: 40.776vw;
    height: 7.247vw;
    /* border: 1px solid lightseagreen; */
    display: flex;
}

.orderProductBox {
    margin-top: 0vw;
    margin-left: 0vw;
    width: 19.180vw;
    height: 7.247vw;
    /* border: 1px solid salmon; */
    display: flex;
}

.imageBox {
    margin-top: 0vw;
    margin-left: 0vw;
    width: 7.101vw;
    height: 7.247vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.073vw solid #CDCDCD;
}

.ppproductName {
    margin-top: 0vw;
    margin-left: 3.001vw;
    width: 9.078vw;
    height:7.247vw;
    display: grid;
}

.pppproductName {
    margin-top: 0vw;
    margin-left: 0vw;
    width: 9.078vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
}

.productPricee {
    margin-top: 0.878vw;
    margin-left: 0vw;
    width: 8.931vw;
    height: 2.050vw;
    font: normal normal normal 1.464vw/2.196vw Poppins;
    color: #2D2D2D;
}

.productSize {
    margin-top: 0.805vw;
    margin-left: 0vw;
    width: 8.931vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #2D2D2D;
}

.orderProductBox2 {
    margin-top: 0vw;
    margin-left: 2.709vw;
    width: 18.814vw;
    height: 7.247vw;
    /* border: 1px solid salmon; */
    display: flex;
}
