.profileBox {
    border: 1px solid #707070;
    width: 920px;
    height: 617px;
    margin-left: 307px;
    display: grid;
}

.boxNav {
    border: 1px solid #707070;
    margin-top: 34px;
    margin-left: 69px;
    width: 587px;
    height: 28px;
    display:flex;
}
.myProfile{
    width: 108px;
    height: 28px;
    font: normal normal normal 20px/30px Poppins;
    color: #4D4D4D;
}